<article class="chat{{#if (eq chat.id activeChatId)}} chat_active{{/if}}" data-id={{chat.id}}>
  {{> Avatar isEmpty=true isEditable=false size="m" src=chat.avatar alt="" }}

  <div class="chat__info">
    <header class="chat__header">
      <h3 class="chat__title">{{chat.title}}</h3>
      <time class="chat__time" datetime="2025-11-30T20:29">{{chat.last_message.time}}</time>
    </header>

    <div class="chat__meta">
      <p class="chat__preview">{{chat.last_message.content}}</p>
      <p class="chat__unread">{{chat.unread_count}}</p>
    </div>
  </div>
</article>
