  <button 
    id="{{id}}" 
    type="{{type}}" 
    class="button{{#if (eq variant "primary-icon")}} button_variant_primary-icon{{else if (eq variant "secondary")}} button_variant_secondary{{else if (eq variant "icon")}} button_variant_icon{{/if}}{{#if (eq icon "back")}} button_icon_back{{else if (eq icon "options")}} button_icon_options{{else if (eq icon "clip")}} button_icon_clip{{else if (eq icon "arrow")}} button_icon_arrow{{/if}}{{#if (eq color "danger")}} button_color_danger{{/if}}{{#if (eq size "m")}} button_size_m{{/if}}" 
    onClick="{{onClick}}"
    >{{text}}</button>
